@use 'variables' as v;

.mainContainer{

    .formContainer{
        @include v.size(100%, fit-content);
        @include v.flex(row, center, center, nowrap);
        margin: 5% 0 0 0 !important;

        form{
            @include v.flex(column, space-around, center, nowrap);
            @include v.size(50%, 50vh);
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 8px;
            padding: 2% !important;

            label{
                color: white;
                font-size: 1.2rem !important;
                margin-bottom: 0.5rem !important;
                text-align: left !important;
                width: 100% !important;
            }

            input, textarea{
                @include v.size(100%, 50px);
                margin-bottom: 1rem !important;
                border-radius: 4px;
                border: none !important;
                padding: 0.5rem !important;
            }

            .btnForm{
                @include v.size(100%, 55px);
                background-color: blue !important;
                color: white !important;
            }:hover{
                background-color: red !important;
                color: white !important;
                cursor: pointer !important;
            }:active{
                transform: scale(0.98) !important;
            }
        }
    }
}