@use 'variables' as v;

.navbar{
    @include v.flex(row, start, center, nowrap);
    @include v.size(100vw, 10vh);
    background-color: v.$background;
    position: sticky !important;
    top: 0% !important;

    .menuAndIconContainer{
        @include v.flex(row, start, center, nowrap);
        width: 85% !important;
        height: 100% !important;

        .menuBtn{
            margin: 0% 2% !important;
            height: 100% !important;
            border: 0px !important;
            padding: 0% !important;

            span{
                @include v.flex(column, center, center, nowrap);
                width: fit-content !important;
                height: 100% !important;
                color: white !important;
                font-size: 2rem !important;
            }
        }

        img{
            @include v.size(10%, 100%);
            object-fit: contain;
        }

        .offcanvas{
            background-color: black !important;
            width: 25vw;

            .offcanvas-header{
                @include v.flex(row, end, center, nowrap);
                width: 100% !important;
                height: fit-content !important;
                padding: 2% 1% !important;

                .btn-close{
                    color: white !important;
                    font-weight: bold !important;
                    padding: 0% !important;
                    margin: 0% !important;
                    font-size: 1.5rem !important;
                }
            }

            .offcanvas-body{
                ul{
                    @include v.flex(column, start, center, nowrap);
                    gap: 20px !important;
                    width: 100% !important;
                    height: fit-content !important;
                    padding: 0% !important;
                    margin: 0% !important;

                    li{
                        list-style: none !important;
                        width: 100% !important;
                        height: fit-content !important;
                        text-align: left   !important;
                        
                        a{
                            color: white;
                            font-size: 1rem;
                            text-decoration: none;
                            font-family: v.$font;
                            font-weight: 300 !important;
                            width: 100% !important;
                            height: 100% !important;
                            text-align: right   !important;
                        }

                        .linkActive{
                            text-decoration: underline !important;
                            width: 100% !important;
                        }
                    }
                }
            }
        }
    }  
    .socialMedia{
        @include v.flex(row, center, center, nowrap);
        width: 15% !important;
        height: 100% !important;
    }
    @include v.mobile{
        .offcanvas{
            width: 100vw !important;
            z-index: 1050 !important;
        }
        .menuAndIconContainer{
            @include v.size(75%, 100%);

            img{
                @include v.size(fit-content, 100%);
            }
        }
        .socialMedia{
            @include v.size(20%, 100%);
        }
    }

}