@use 'variables' as v;

.mainContainerGrid{
    display: grid !important;
    grid-template-columns: 1fr 2fr !important;
    grid-template-rows: 1fr 1fr 1fr !important;
    gap: 15px !important;
    padding: 5% 2% !important;

    .leftMenu{
        grid-column: 1 / 2 !important;
        grid-row: 1 / 2 !important;

        img{
            @include v.fullSize;
            object-fit: contain !important;
        }
    }

    .leftMenu1{
        @include v.flex(row, center, center, nowrap);
        background-color: white !important;
        color: black !important;
        grid-row: 2/3 !important;
        grid-column: 1/2 !important;
    }

    .content1{
        background-color: black !important;
        color: white !important;
        grid-row: 1/3 !important;
        grid-column: 2 !important;
        padding: 2% !important;

        h1{
            font-size: 3rem !important;
            color: red !important; 
            text-align: center !important;
            margin: 2% 0% !important;
        }

        p{
            font-size: 1.2rem !important;
            text-align: center !important;
        }
    }

    .content2{
        background-color: red !important;
        color: white !important;
        grid-column: 1/3 !important;
        grid-row: 3 !important;
        text-align: center !important ;
    }
}