@use 'variables' as v;

.mainContainerGrid{
    display: grid !important;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    padding: 5% 2%;

    .leftMenu{
        grid-column: 1 / 2;
        grid-row: 1 / 2;

        img{
            @include v.fullSize;
            object-fit: contain !important;
        }
    }

    .leftMenu1{
        @include v.flex(row, center, center, nowrap);
        background-color: white !important;
        color: black !important;
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .content1{
        background-color: black !important;
        color: white !important;
        grid-row: 1/3;
        grid-column: 2 ;
        padding: 2% !important;
        overflow-y: scroll !important;

        h1{
            font-size: 3rem !important;
            color: red !important; 
            text-align: center !important;
            margin: 2% 0% !important;
        }

        p{
            font-size: 1.2rem !important;
            text-align: center !important;
            text-wrap: wrap !important;
        }
    }

    .content2{
        background-color: red !important;
        color: white !important;
        grid-column: 1/3 !important;
        grid-row: 3 !important;
        text-align: center !important ;
        overflow-y: scroll !important;
    }

    @include v.mobile{
        display: grid !important;
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr 1fr 1fr 2fr 1fr !important;
        padding: 2% !important;
        
            .leftMenu{
                grid-column: 1 / 2 !important;
                grid-row: 1 / 2 !important;
            }

            .leftMenu1{
                grid-column: 1 / 2 !important;
                grid-row: 2 / 3 !important;
            }

            .content1{
                grid-column: 1 / 2 !important;
                grid-row: 3 / 5 !important;

                p{
                    font-size: 1rem !important;
                }
            }

            .content2{
                grid-column: 1 / 2 !important;
                grid-row: 5 / 6 !important;
            }
    }
}