@use 'variables' as v;

// .mainContainer{
//     width: 100vw !important;
//     min-height: 80vh !important;

    .gridContainer{
        width: 100% !important;
        height: fit-content !important;
        padding: 0% 1% !important;
        margin: 0% !important;
        display: grid !important;
        grid-template-columns: 1fr 2fr !important;
        grid-template-rows: 1fr 1fr !important;
        gap: 15px !important;

        .leftMenu{
            @include v.fullSize();
            grid-column: 1 / 2 !important;
            grid-row: 1 / 2 !important;

            img{
                @include v.fullSize();
                object-fit: fill !important;
            }
        }

        .leftMenu1{
            @include v.fullSize();
            @include v.flex(column, center, center, nowrap);
            background-color: white !important;
            color: black !important;
            grid-row: 2/3 !important;
            grid-column: 1/2 !important;
            padding: 1% !important;

            h2{
                @include v.size(fit-content, fit-content);
                font-size: 2rem !important;
                text-align: center !important;
                margin: 0% !important;
            }
        }

        .content1{
            @include v.fullSize();
            background-color: black !important;
            color: white !important;
            grid-row: 1/3 !important;
            grid-column: 2 !important;
            padding: 2% !important;

            h1{
                font-size: 3rem !important;
                color: red !important; 
                text-align: center !important;
                margin: 2% 0% !important;
            }

            p{
                font-size: 1.2rem !important;
                text-align: center !important;
                text-wrap: wrap !important;
            }
        }

        @include v.mobile{
            display: grid !important;
            grid-template-columns: 1fr 1fr !important;
            grid-template-rows: 1fr 2fr !important;
            padding: 2% !important;
            
            .leftMenu{
                grid-column: 1 / 2 !important;
                grid-row: 1 / 2 !important;
            }

            .leftMenu1{
                grid-column: 2 / 3 !important;
                grid-row: 1 / 2 !important;
            }

            .content1{
                grid-column: 1 / 3 !important;
                grid-row: 2 / 3 !important;

                p{
                    font-size: 0.9rem !important;
                    margin: 0% !important;
                }
            }
        }
    }
// }