@use 'variables' as v;

.mainContainer{
    @include v.size(100%, fit-content);
    @include v.flex(column, center, center, nowrap);

    .infoContainer{
        @include v.size(95%, 90%);
        @include v.flex(row, space-around, start, nowrap);
        background-color: rgba(0, 0, 0, 0.5) !important;
        border-radius: 8px !important;
        padding: 1%;

        .infoImg{
            @include v.size(60%, 100%);
            border-radius: 8px !important;
            object-fit: fill !important
        }
    
        .infoText{
            @include v.size(35%, 100%);
            @include v.flex(column, start, flex-start, nowrap);
            padding: 0px !important;

            h1{
                @include v.size(100%, fit-content);
                color: white !important;
                font-size: 2rem !important;
                margin-bottom: 20px !important;
                text-align: center !important;
            }

            h2{
                @include v.size(100%, fit-content);
                color: white !important;
                font-size: 1rem !important;
                text-align: justify !important;
            }
        }
    }

    @include v.mobile{
        .infoContainer{
            @include v.flex(column, center, center, nowrap);
            @include v.size(98%, fit-content);

            .infoImg{
                @include v.size(100%, 50%);
                margin-bottom: 20px !important;
            }

            .infoText{
                @include v.size(100%, fit-content);

                h1{
                    font-size: 1.5rem !important;
                }

                h2{
                    font-size: 0.9rem !important;
                }
            }
        }
    }
}