$font: Roboto Slab;
$background: black;

*{
    font-family: $font;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@mixin flex($direction, $justify, $align, $wrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}
@mixin fullSize {
    width: 100% !important;
    height: 100% !important;
}
@mixin size($width, $height) {
    width: $width !important;
    height: $height !important;
}